@import url("shared.css");

#main {
	display: block;
	text-align: justify;
	background-color: #194D43;
	max-width: 1280px;
	margin: 0 auto;
	padding-bottom: 32px;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

#main .section > a {
	color: #8bba75;
}

#main > #banner {
	display: block;
	position: relative;
	margin-top: 140px;
	width: 101%;
	right: 0.5%;
	border-radius: 2px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#main > #header {
	overflow: hidden;
	display: block;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #222222;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#main > #header .fa-bars {
	float: right;
	text-decoration: none;
	text-align: center;
	color: white;
	margin: 0;
	padding: 16px 0;
	font-size: 64px;
	cursor: pointer;
	display: inline-block;
	width: 15%;
	height: 96px;
}

#main > #header #menu {
	overflow: hidden;
	height: auto;
	max-height: 0;
	transition: 0.5s;
}

#main > #header #menu a {
	display: block;
	font-size: 36px;
	color: #df2d98;
	height: 72px;
	padding: 0 32px;
	line-height: 72px;
	text-decoration: none;
	transition: 0.25s;
	font-weight: bold;
	background-color: #202020;
}

#main > #header #menu a:nth-child(odd) {
	background-color: #252525;
}

#main > #header #menu a:hover {
	background-color: #df2d98;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	color: #e2c2df;
}

#main > #header #menu .fa {
	margin-right: 24px;
	font-size: 40px;
	width: 40px;
	text-align: center;
}

#main > #header #title {
	text-align: left;
	display: block;
	position: relative;
	background-color: #333333;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

#main > #header #title #name {
	padding: 0 12px;
	display: inline-block;
	text-align: center;
	color: #f9f9f9;
	position: relative;
	font-size: 56px;
	font-weight: bold;
	width: 85%;
	height: 96px;
	line-height: 96px;
	white-space: nowrap;
}

#main > #header #title #nouns {
	padding: 0 0;
	display: block;
	overflow: hidden;
	text-align: center;
	font-size: 36px;
	color: #b8b8b8;
	width: 100%;
	height: 64px;
	line-height: 64px;
	white-space: nowrap;
	background-color: #222222;
}

#main > #header #nouns:before {
	content: "";
	display: block;
	width: 100%;
	height: 0;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#main > #header #links {
	display: none;
	padding: 0;
	font-size: 0;
	/*overflow: hidden;*/
	text-align: center;
	height: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 48px;
}

#main > #header #links .fa {
	margin-right: 6px;
	font-size: 24px;
}

#main > #header #links a {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #df2d98;
	background-color: transparent;
	padding: 10px 1%;
	height: inherit;
	transition: 0.1s;
	text-decoration: none;
	position: relative;
}

#main > #header #links a:hover {
	color: #c9d9c3;
	background-color: #df2d98;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}


#main .section {
	padding: 16px 0;
}

#main .section > h1 {
	color: #8aee25;
	padding: 0 4%;
	font-size: 48px;
}

#main .section > p {
	padding: 0 6%;
	padding-top: 8px;
	font-size: 36px;
	text-align: left;
}

#main > #about {
	text-align: left;
	overflow: hidden;
}

#main > #about #face {
	display: block;
	width: 60%;
	background-color: #b8a1b7;
	margin: 16px 20%;
	padding: 8px;
	border-radius: 14px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#main > #about #face img {
	display: block;
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#main > #projects {
	text-align: left;
}

#main > #projects #cards {
	display: block;
	text-align: center;
	background-color: #192f2b;
	margin: 16px 0;
	padding: 0;
	overflow: hidden;
}

#main > #projects #cards .shadow {
	display: block;
	width: 100%;
	background-color: #194D43;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#main > #projects #cards .shadow#top { margin-bottom: 16px; }
#main > #projects #cards .shadow#bottom { margin-top: 16px; }

.projectcard {
	display: block;
	background-color: #e3cbe1;
	text-align: left;
	overflow: hidden;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	border-radius: 16px;
	/*padding: 24px;*/
	/*padding-top: 16px;*/
	margin: 32px 5%;
	width: 90%;
	height: auto;
}

.projectcard > *:not(#header) {
	border-radius: 12px;
	margin: 16px;
}

.projectcard #header {
	display: block;
	width: 100%;
	background-color: #964a92;
	padding: 8px 16px;
}

.projectcard #title {
	color: #f1e1f2;
	font-weight: bold;
	font-size: 48px;
	padding: 0;
	width: 100%;
}

.projectcard #lang {
	color: rgba(231, 201, 217, 0.65);
	float: right;
	font-size: 48px;
	padding: 0;
	margin: 0;
}

.projectcard #links {
}

.projectcard #links a {
	display: block;
	padding: 6px 8px;
	margin: 8px 0;
	overflow: hidden;
	transition: .5s;
	width: 100%;
	color: #df2d98;
	font-weight: bold;
	text-decoration: none;
	font-size: 32px;
	border-radius: inherit;
}

.projectcard #links a:hover {
	background-color: #df2d98;
	color: #f6dbf5;
}

.projectcard #links .fa {
	font-size: 48px;
	transition: inherit;
	margin-right: 10px;
}

.projectcard #links .fa-github-alt {
	position: relative;
	bottom: 1px;
}

.projectcard #thumb {
	padding: 8px;
	background-color: #a78ea6;
}

.projectcard #thumb * {
	display: block;
	border-radius: 4px;
	width: 100%;
	height: auto;
}

.projectcard p {
	background-color: #cca6ca;
	color: #4e444d;
	font-size: 36px;
	padding: 16px;
	text-align: left;
	margin-bottom: 0;
}

.projectcard p a {
	color: #8b548b;
	text-decoration: none;
}

.projectcard p a:hover {
	text-decoration: underline;
}

@media only screen and (min-device-width: 800px) {

	#main > #banner {
		margin-top: 0;
		width: 100%;
		right: 0;
		box-shadow: none;
		border-radius: 0;
	}

	#main > #header {
		display: block;
		position: relative;
		right: 0.5%;
		width: 101%;
		z-index: 1;
		background-color: #222222;
		padding-top: 24px;
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
		border-radius: 3px;
		overflow: visible;
	}

	#main > #header #menu {
		display: none;
	}

	#main > #header #title {
		right: 0.5%;
		width: 101%;
		text-align: center;
		display: block;
		position: relative;
		border-radius: 2px;
		z-index: 1;
		background-color: #333333;
		padding: 12px 3%;
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	}

	#main > #header #title #name {
		display: inline-block;
		text-align: left;
		font-size: 48px;
		max-width: 100%;
		padding: 0;
		width: auto;
		margin: 0;
		margin-right: 3%;
		white-space: nowrap;
		box-shadow: none;
	}

	#main > #header #title #nouns {
		display: inline-block;
		font-size: 24px;
		max-width: 100%;
		width: auto;
		margin: 0;
		margin-left: 3%;
		padding: 0;
		white-space: nowrap;
	}

	#main > #header #links {
		display: block;
		padding: 0;
		font-size: 0;
		overflow: visible;
		text-align: center;
		white-space: nowrap;
		height: 40px;
	}

	#main > #header #links .fa {
		margin-right: 6px;
		font-size: 24px;
	}

	#main > #header #links a {
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		color: #ff2fac;
		background-color: transparent;
		padding: 6px 1%;
		margin: 0 .5%;
		transition: 0.25s;
		text-decoration: none;
		position: relative;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		height: 0%;
	}

	#main > #header #links a:hover {
		background-color: #df2d98;
		padding: 6px 1%;
		height: 105%;
		color: #c9d9c3;
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
		/*transform: scale(1.1);*/
	}

	#main > .fa-bars {
		display: none;
	}

	#main .section > h1 {
		padding-left: 4%;
		font-size: 32px;
	}

	#main .section > p {
		padding: 0 6%;
		padding-top: 8px;
		font-size: 18px;
	}

	#main > #about #face {
		display: inline-block;
		float: right;
		width: 30%;
		min-width: 256px;
		margin-top: 32px;
		margin-bottom: 16px;
		margin-left: 32px;
		margin-right: 5%;
	}

	.projectcard {
		display: inline-block;
		border-radius: 8px;
		/*padding: 12px;*/
		margin: 12px 12px;
		width: 256px;
		height: 384px;
		transition: 0.5s;
		overflow: hidden;
	}

	.projectcard:hover {
		/*box-shadow: 0 0 5px 1px #ff66c2a0;*/
	}

	.projectcard > *:not(#header) {
		border-radius: 10px;
		margin: 6px 10px;
	}

	.projectcard #title {
		font-size: 24px;
	}

	.projectcard #lang {
		font-size: 24px;
	}

	.projectcard #links {
	}

	.projectcard #links .fa {
		font-size: 20px;
		transition: inherit;
		margin-right: 4px;
	}

	.projectcard #links .fa-github-alt {
		position: relative;
		bottom: 0px;
	}

	.projectcard #links a {
		display: block;
		padding: 3px 6px;
		margin: 3px 0;
		font-size: 14px;
		width: 0px;
		overflow: visible;
		white-space: nowrap;
		transition-duration: 0.5s;
		transition-timing-function: ease;
	}

	.projectcard #links a:hover {
		background-color: #df2d98;
		color: #f6dbf5;
		width: 100%;
	}

	.projectcard #thumb {
		padding: 4px;
	}

	.projectcard #thumb * {
		border-radius: 6px;
	}

	.projectcard p {
		display: block;
		font-size: 16px;
		padding: 8px 8px;
		overflow: hidden;
	}

}
