@import url("shared.css");

#main {
	display: block;
	text-align: justify;
	background-color: #194D43;
	max-width: 1280px;
	/*min-height: 100vh;*/
	margin: 0 auto;
	padding-bottom: 32px;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

#main .section {
	padding: 16px 0;
}

#main .section > h1 {
	color: #8aee25;
	padding-left: 4%;
}

#main .section > p {
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 8px;
	font-size: 18px;
}

#main .section > a {
	color: #8bba75;
}

#banner {
	display: block;
	position: relative;
	width: 100%;
}

#header {
	display: block;
	position: relative;
	right: 0.5%;
	width: 101%;
	z-index: 1;
	display: block;
	background-color: #222222;
	padding-top: 24px;
	position: relative;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

#header #title {
	right: 0.5%;
	width: 101%;
	text-align: left;
	display: block;
	position: relative;
	border-radius: 2px;
	z-index: 1;
	background-color: #333333;
	padding: 8px 3%;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#header #title #name {
	display: inline-block;
	text-align: left;
	color: #dcf0cf;
	font-size: 48px;
	font-weight: bold;
	max-width: 100%;
	white-space: nowrap;
}

#header #title #nouns {
	display: inline-block;
	overflow: hidden;
	text-align: left;
	font-size: 24px;
	color: #89a69e;
	max-width: 100%;
	padding-left: 5%;
	/*vertical-align: super;*/
	white-space: nowrap;
}

#header #links {
	padding: 0px 4%;
	font-size: 0;
	/*overflow: hidden;*/
	text-align: left;
	height: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 48px;
}

#header #links .fa {
	margin-right: 6px;
	font-size: 24px;
}

#header #links a {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #df2d98;
	background-color: transparent;
	padding: 10px 1.25%;
	height: inherit;
	transition: 0.1s;
	text-decoration: none;
	outline: 0;
	position: relative;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

#header #links a:hover {
	color: #c9d9c3;
	background-color: #df2d98;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	transform: scale(1.1);
}

#about {
	text-align: left;
	overflow: hidden;
}

#about #face {
	float: right;
	width: 25%;
	min-width: 212px;
	background-color: #b8a1b7;
	margin-top: 32px;
	margin-left: 3%;
	margin-right: 5%;
	margin-bottom: 1%;
	padding: 12px;
	border-radius: 18px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#about #face:hover {
	padding: 6px;
	border-radius: 12px;
}

#about #face img {
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#about #face:hover img {
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

#projects {
	text-align: left;
}

#projects #cards {
	display: block;
	text-align: center;
	background-color: #192f2b;
	margin: 16px 0;
	padding: 0;
	overflow: hidden;
}

#projects #cards .shadow {
	display: block;
	width: 100%;
	background-color: #194D43;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#projects #cards .shadow#top { margin-bottom: 16px; }
#projects #cards .shadow#bottom { margin-top: 16px; }

.project {
	display: inline-block;
	background-color: #cca6ca;
	border-radius: 8px;
	text-align: left;
	padding: 12px;
	margin: 8px;
	font-size: 12px;
	width: 256px;
	height: 384px;
	overflow: hidden;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

.project:hover {
	transform: scale(1.05);
}

.project #thumb {
	margin: 8px 0px;
	margin-top: 4px;
	background-color: #a78ea6;
}

.project #title {
	color: #49534f;
	font-weight: bold;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}

.project #lang {
	color: #8a878f;
	float: right;
	font-size: 24px;
}

.project p {
	color: #5a6360;
	font-size: 16px;
	padding: 8px 8px;
	margin-top: 4px;
	text-align: justify;
	background-color: #e3cbe1;
	border-radius: 12px;
}


.project #links a {
	display: block;
	padding: 2px 4px;
	margin: 2px 0;
	overflow: hidden;
	transition: .1s;
	width: 100%;
	border-radius: 8px;
	color: #df2d98;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	outline: 0;
}

.project #links a:hover {
	background-color: #df2d98;
	color: #d1bed0;
}

.project p a {
	color: #566e66;
}
