@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	/*min-height: 100vh;*/
}

body {
	background-color: #301336;
	color: #64B22D;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	/*min-height: 100vh;*/
	padding: 0 5%;
	min-width: 640px;
}

div.imgcontainer {
	display: block;
	padding: 6px;
	border-radius: 12px;
	transition-duration: 0.5s;
	overflow: hidden;
}

div.imgcontainer img {
	display: block;
	border-radius: 6px;
	max-width: 100%;
	max-height: 100%;
	transition: inherit;
}

div.imgcontainer:hover {
	padding: 0;
	border-radius: 6px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000000AA;
}

.modal-content {
	display: inline-block;
	background-color: #2a2a2a;
	margin: 10% 25%;
	padding-bottom: 32px;
	max-height: 100%;
}

.fa {
	margin-right: 4px;
}
