@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
}

body {
	background-color: #301336;
	color: #64B22D;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	min-height: 100vh;
}

span {
	display: inline-block;
}

#main {
	display: inline-block;
	text-align: justify;
	background-color: #194D43;
	max-width: 1280px;
	min-height: 100vh;
	margin-left: 10%;
	margin-right: 10%;
}

#header {
	display: block;
	background-color: #333333;
	max-width: 100%;
	padding: 8px 32px;
	overflow: auto;
	vertical-align: middle;
}

#name {
	text-align: left;
	color: #CCCCCC;
	font-size: 48px;
	max-width: 100%;
}

#nouns {
	text-align: left;
	font-size: 24px;
	color: #888888;
	max-width: 100%;
	padding-left: 32px;
}

#links {
	display: block;
	background-color: #222222;
	max-width: 100%;
	padding: 4px 64px;
	padding-bottom: 8px;
	font-size: 20px;
}

#footer {
	text-align: center;
	padding-bottom: 12px;
}

#banner {
	display: block;
	width: 100%;
}

.section {
	text-align: center;
	padding: 0px 32px;
	vertical-align: top;
}

#projects.section {
	font-size: 0px;
}

.project {
	display: inline-block;
	background-color: #d1bed0;
	border-radius: 8px;
	text-align: left;
	padding: 8px;
	margin: 8px 8px;
	font-size: 12px;
	width: 384px;
	/*max-width: 512px;*/
	/*height: 192px;*/
	overflow: hidden;
}

.project #title {
	color: #49534f;
	font-weight: bold;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}

.project #lang {
	color: #8a878f;
	float: right;
	font-size: 24px;
}

.project span {
	display: block;
}

.project p {
	color: #5a6360;
	font-size: 16px;
	padding: 4px;
	margin: 0px;
	text-align: justify;
}

.project a {
	color: #df2d98;
}

.project p a {
	color: #566e66;
}

p {
	padding-top: 8px;
}

a {
	color: #8bba75;
}

#links a {
	color: #df2d98;
}

h1, h2 {
	color: #8aee25;
	padding-top: 16px;
}

p, h1, h2 {
	padding-left: 32px;
	padding-right: 32px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000000AA;
}

.modal-content {
	display: inline-block;
	background-color: #2a2a2a;
	margin: 10% 25%;
	padding-bottom: 32px;
	max-height: 100%;
}
