@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

* {
	padding: 0px;
	margin: 0px;
}

html {
	min-height: 100vh;
}

body {
	background-color: #301336;
	color: #64B22D;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	min-height: 100vh;
}

#main {
	display: inline-block;
	text-align: justify;
	background-color: #194D43;
	max-width: 1280px;
	min-height: 100vh;
	margin-left: 10%;
	margin-right: 10%;
}

#footer {
	text-align: center;
	padding-bottom: 12px;
}

#banner {
	width: 100%;
}

p {
	padding-top: 8px;
}

a {
	color: #8bba75;
}

h1, h2 {
	padding-top: 16px;
}

p, h1, h2 {
	padding-left: 32px;
	padding-right: 32px;
}
