@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0; }

html {
  font-size: 14pt;
  font-family: "Source Sans Pro", sans-serif; }
  html body div.sidebar {
    background-color: #524035;
    color: #e8ddd3;
    overflow: hidden;
    width: 100%;
    display: table;
    table-layout: fixed; }
    @media (min-width: 800px) {
      html body div.sidebar {
        font-size: 3vh; } }
    @media (min-width: 800px) {
      html body div.sidebar {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 60vh;
        height: 100%;
        z-index: 10; } }
    html body div.sidebar div.links {
      vertical-align: top;
      display: table-cell;
      font-size: 1.5em;
      text-transform: uppercase;
      overflow: hidden;
      color: #dbdbdb;
      width: 1.5em;
      background-color: #363535; }
      @media (min-width: 800px) {
        html body div.sidebar div.links {
          display: block;
          position: absolute;
          bottom: 2em;
          width: 100%; } }
      html body div.sidebar div.links div.link {
        height: 1.5em;
        line-height: 1.5em;
        transition-duration: 0.25s;
        transition-property: background-color; }
        html body div.sidebar div.links div.link:nth-child(even) {
          background-color: #323030; }
        html body div.sidebar div.links div.link:nth-child(odd) {
          background-color: #292828; }
        html body div.sidebar div.links div.link a {
          padding-left: 1.5em;
          color: inherit;
          text-decoration: none;
          display: block; }
          html body div.sidebar div.links div.link a i.fa {
            position: absolute;
            width: 1.5em;
            height: 1.5em;
            text-align: center;
            line-height: 1.5em;
            left: 0; }
        html body div.sidebar div.links div.link:hover {
          color: white;
          background-color: #3d7a54; }
    html body div.sidebar div.header {
      display: table-cell;
      overflow: hidden;
      padding: 1em; }
      @media (min-width: 800px) {
        html body div.sidebar div.header {
          display: block;
          padding-top: 4em; } }
      html body div.sidebar div.header div.title h1 {
        font-size: 3em;
        font-weight: bold; }
      html body div.sidebar div.header div.about {
        font-size: 1em;
        padding: 1em 0; }
  html body div.content {
    color: #2d2c2c;
    display: block;
    width: auto;
    min-height: 100vh;
    padding: 1.5em;
    text-align: justify;
    background-color: #e8ddd3;
    overflow: hidden; }
    @media (min-width: 800px) {
      html body div.content {
        margin-left: 60vh;
        padding: 1.5em 3em; } }
    html body div.content * {
      line-height: 1.5em; }
    html body div.content a {
      color: #3d7a54; }
    html body div.content h1 {
      font-size: 2.5em; }
    html body div.content h2 {
      font-size: 2em; }
    html body div.content p {
      margin-bottom: 1em; }
    html body div.content code {
      font-size: 1em;
      font-family: "Source Code Pro", monospace; }
    html body div.content *:not(pre) code {
      border-radius: 0.4em;
      padding: 0 0.25em;
      display: inline; }
    html body div.content pre.code {
      margin-bottom: 1em;
      border-radius: 1em;
      padding: 1em; }
    html body div.content pre > code {
      padding: 0;
      overflow-x: auto;
      display: block;
      border: none; }

/*# sourceMappingURL=style.css.map */
